<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AttnManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>servlet</display-name>
    <servlet-name>servlet</servlet-name>
    <servlet-class>Servlet.servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet</servlet-name>
    <url-pattern>/servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>Servlet.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forgotPasswordValidatorController</display-name>
    <servlet-name>forgotPasswordValidatorController</servlet-name>
    <servlet-class>Servlet.forgotPasswordValidatorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgotPasswordValidatorController</servlet-name>
    <url-pattern>/forgotPasswordValidatorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatePasswordController</display-name>
    <servlet-name>updatePasswordController</servlet-name>
    <servlet-class>Servlet.updatePasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatePasswordController</servlet-name>
    <url-pattern>/updatePasswordController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>firstTimePasswordChangeController</display-name>
    <servlet-name>firstTimePasswordChangeController</servlet-name>
    <servlet-class>Servlet.firstTimePasswordChangeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>firstTimePasswordChangeController</servlet-name>
    <url-pattern>/firstTimePasswordChangeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>noticeBoardServlet</display-name>
    <servlet-name>noticeBoardServlet</servlet-name>
    <servlet-class>Servlet.noticeBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>noticeBoardServlet</servlet-name>
    <url-pattern>/noticeBoardServlet</url-pattern>
  </servlet-mapping>
</web-app>